[submodule "data/nottingham_github"]
	path = data/nottingham_github
	url = https://github.com/jukedeck/nottingham-dataset
[submodule "data/pop909"]
	path = data/pop909
	url = https://github.com/music-x-lab/POP909-Dataset
